<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SymBnB - {% block title %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, user-scalable=no">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% include "partials/nav-flash.html.twig" %}

        {% block body %}{% endblock %}

        {{ encore_entry_script_tags('script') }}
        {% block javascripts %}{% endblock %}
    </body>
    {% include "partials/footer.html.twig" %}

</html>
