{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1>404</h1>
        <h2>Oups ! La page que vous recherchez n'existe pas !</h2>
        <p>Vous pouvez retourner sur la page d'accueil ou voirs nos dernières annonces !</p>
    </div>
{% endblock %}